.idea
*.ipr
*.iws
*.iml
*.pyc
*.swp
*.swo
node_modules
*.egg-info
*.log
*.swp
.DS_Store
test.config.json
tmp_mongo_dump
docker_tmp
.python-version
dump.rdb
failures.csv
failures.tsv
.vscode
venv
nenv
.tern-port
.nyc_output
**/keys.json
**/*.crt
artifacts/*
*npm-debug.log*
CHANGELOG.md.bak
tenantConfigs.json
.eslintcache
*.js.map

